<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Exercise List</title>
</head>

<body>
    <h1>List of Exercises</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Muscle Group</th>
            <th>Difficulty Level</th>
        </tr>
        <tr th:each="exercise : ${exercises}">
            <td th:text="${exercise.title}"></td>
            <td th:text="${exercise.muscleGroup}"></td>
            <td th:text="${exercise.difficultyLevel}"></td>
        </tr>
    </table>
</body>

</html>